/* Layout */

.hidden {display: none;}

div { position:relative }

/* Hackspace */

body {
	background: white;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

img, video, iframe, figure {
	max-width: 100%;
}

.inner {
	max-width: 840px;
	margin: 0 auto;
	padding: 0 1em;
}

article {
	overflow-wrap: break-word;
	flex: 1 0 auto;
}

article .inner {
	padding: 3em 1em;
}

footer {
	background: #eee;
	padding: 2em 0;
}

footer .inner {
    display: flex;
	gap: 1em;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    list-style: none;
    display: flex;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    gap: 2em;
    flex-wrap: wrap;
}

.footer-links > li {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.footer-links > li a {
    text-decoration: none;
}

.footer-links > li img {
    max-height: 54px;
    max-width: 120px;
}

/* Main Header + Nav */

header .inner {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
    flex: 0 0 20em;
	height: 10em;
	max-width: 100%;
	margin: 0 auto;
    overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
	flex: 1 1 min-content;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	padding: 3.5em 0 0 0;
	gap: 0.75em;
}

.menu li a, button {
	display: block;
	text-decoration: none;
	background: #ccc;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 1em;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.5px;

}

.menu li a:hover, .menu li a:focus, button:hover, button:focus {
	background: #333;
}

.menu li a:active, button:active {
	background: #000;
}

.menu-item-has-children {
	position: relative;
}

.menu li.menu-item-has-children > a {
	position: relative;
	padding-right: 3em;
}

.menu-item-has-children > a::after {
	content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'%3e%3c!--! Font Awesome Free 6.4.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3e%3cpath fill='white' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3e%3c/svg%3e");
	position: absolute;
	right: 1em;
	top: 30%;
}

.sub-menu {
	position: absolute;
	display: none;
	flex-direction: column;
	list-style: none;
    right: 0;
    margin: 0;
	z-index: 10;
}

.menu-item-has-children:hover .sub-menu, .menu-item-has-children:focus .sub-menu, .menu-item-has-children:focus-within .sub-menu {
	display: flex;
}

/* Widgets */

#meta_content {
	float:left;
	width:261px;
	margin-left: 72px;
}

#meta_content ul#widgets {
	margin:0;
	padding:0;
	list-style: none;
}

#meta_content ul#widgets li {
	margin:0;
	padding: 18px;
	list-style: none;
	border-radius: 6px;
	background: #eee;
	margin-bottom: 18px;
	position: relative;
}

#twitter_update_list {
	margin: 0px 0px;
}

#meta_content #widgets #twitter_update_list li {
	padding: 0px 0px;
}

h2.widgettitle {
	margin-bottom: 20px;
}

/* Custom Page CSS */

.post .post_header {
	background: #999;
	border-radius: 6px;
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	margin: 0 0 2em 0;
	display: flex;
	align-items: center;
}

.post .post_header h2 {
	margin: 0;
	flex: 1 1 auto;
}

.post .post_header h2 a {
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: #eee;
	background: #777;
	border-radius: 6px;
	padding: 1em;
}

.post .post_header h2 a:hover, .post .post_header h2 a:focus {
	background: #f08818;
	color: white;
}

/** Some post content has explicit widths set on it. */
.post div {
	max-width: 100%;
}

.post .post_header p {
	flex: 0 1 auto;
	color: #ddd;
	text-transform: uppercase;
	padding: 1em;
	margin: 0;
}

.post .post_meta {
	-webkit-border-radius : 6px;
	-moz-border-radius : 6px;
	background: #eee;
	margin: 36px 0 0;
	padding: 18px;
	list-style: none;
}

#comment, .comment_wrap code {
	width:467px;
}

.vimeo {
	padding: 18px;
	-webkit-border-radius : 6px;
	-moz-border-radius : 6px;
	background: #333;
	margin-bottom: 18px;
}

.prevnext {
	clear: both;
    display: flex;
    width: unset;
    justify-content: space-between;
	padding: 1.5em 0;
	border-radius: 6px;
	background: #ddd;
	margin: 0 0 1.5em 0;	
	list-style: none;
}

.prevnext a {
	padding: 1.5em;
}

/* Comment Section */

.comment_wrap ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment_wrap ol li {
	-webkit-border-radius : 6px;
	-moz-border-radius : 6px;
	background: #eee;
	padding: 18px 0 0 0;
	width: 507px;
	margin-bottom: 18px;
}

.comment_wrap ol li p {
	margin: 0 18px 18px 18px;
}
.comment_wrap ol li p.moderated {
	color: #999;
}

.comment_wrap ol li .meta p {
	margin: 0;
	color: #999;
}

.comment_wrap ol li .meta p a {
	margin: 0;
	color: #f3a0a4;
}



.comment_wrap ol li .meta p span {
	float: right;
}


.comment_wrap ol li img.avatar {
	margin: 0 9px 0 0;
}

.comment_wrap ol li div {
	padding: 9px;
	background: #f8f8f8;
	-webkit-border-radius : 6px;
	-moz-border-radius : 0 0 6px 6px;
}

/* Admin CSS */

.edit_page_link {
	margin: 0;
}

.edit_page_link a {
	background: #235690;
	display: block;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 9px;
	border-radius: 6px;
}

.edit_page_link a:hover {
	background: #124580;
}

.ddfm_errors {
	background: #f5f5f5;	
	border: 1px solid #ddd;
	padding: 18px 18px 0;
	-webkit-border-radius : 12px;
	-moz-border-radius : 12px;
	margin: 0 0 36px 0;
	width: 364px;
}

.ddfm, .comment_wrap form {
	width: 471px;
	margin: 0 0 36px 0;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	background: #eee;
	padding: 18px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.ddfm label {
	font-size: 12px;
	display: block;
	width: 100px;
	margin: 0 0 1px 0;
	cursor: pointer;
	padding: 3px 6px;
}

.ddfm input, .ddfm textarea {
	font-family: inherit;
	font-size: 14px;
	width:458px;
	margin: 0 0 6px 0;
	border: 1px solid #aaa;
	padding: 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#fm_verify {
	width: 275px;
	margin-left: 9px;
}

.ddfm p.fieldwrap img {
	margin: 0;
	padding: 3px;
	background: red;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.ddfm input:focus, .ddfm textarea:focus {
	border: 1px solid #3e6461;
}

.ddfm button, .comment_wrap button {
	display: block;
	clear:both;
	margin: 18px 0 18px 0;
}